div#calculator {
  float: left;
  width: 25%;
  padding-right: 20px;
}

div#calculator ul.parsley-errors-list {
  font-size: 0.8em;
  list-style-type: none;
  color: #e74495;
  margin-left: 0;
}

div#calculator form div.form-group {
  margin-top: 10px;
}

div#calculator button {
  margin-top: 20px;
}

div#calculator-result {
  float: right;
  width: 70%;
  text-align: center;
}

div#calculator-result div#loading-gif {
  display: none;
  margin-top: 50px;
}


